eval "$(devbox generate direnv --print-envrc)"

export ENVNAME=cmake
export TOP_HEAD=$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" &> /dev/null && pwd)

unset GITHUB_TOKEN
export PATH=$PATH:$TOP_HEAD/build

export_alias _b "$TOP_HEAD/run.sh m"
export_alias _c "$TOP_HEAD/run.sh b"
